<%= form_for(@user, html: { multipart: true } ) do |f| %>
 <%= render 'shared/errors' %>
   <div class="field">
<%= f.file_field :picture %>
</div>
    <p>
    <label>
       <% if @user.picture? %><%= f.check_box :remove_picture %>
      Remove avatar
	  <% end %>
    </label>
  </p>
  
    <% if @user.picture? %> <%= f.submit 'Remove/change avatar', :class => "btn btn-default btn-circle" %>
	 <% else %> <%= f.submit 'Add avatar', :class => "btn btn-default btn-circle" %>
 <% end %>
<% end %>






  

