<%= form_for(@fight, remote: true, :html => { :role => "form" }) do |f| %>
  <% if @fight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fight.errors.count, "error") %> prohibited this fight from being saved:</h2>

      <ul>
      <% @fight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @users.any? %>

  <div class="field">
    <%= f.label @user1.first_name %><br>
    <%= f.hidden_field :user1_id, :value => @user1.id %>
  </div>
  <div class="field">
    <%= f.label  @user2.first_name %><br>
  <%= f.hidden_field :user2_id, :value => @user2.id %>
  </div>
  <div class="actions">
  
  


   <%= f.submit %>
    
<% end %>
  <%end%>
   
  </div>



